In [13]:
import pandas as pd

file_path = '/home/delameta/assessment-solution-april/data/palm_ffb.csv'

# Contoh konversi format tanggal
df = pd.read_csv(file_path, delimiter=',', parse_dates=['Date'], dayfirst=True)

# Mengonversi ke format ISO 8601
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
df.head()

,Date,SoilMoisture,Average_Temp,Min_Temp,Max_Temp,Precipitation,Working_days,HA_Harvested,FFB_Yield
0,2008-01-01,616.4,25.306452,21.3,32.2,184.4,25,777778.3951,1.62
1,2008-02-01,568.9,26.165517,20.9,35.1,140.2,23,767988.2759,1.45
2,2008-03-01,577.6,25.448387,21.3,32.9,280.4,25,783951.9231,1.56
3,2008-04-01,581.1,26.903333,20.6,34.8,173.3,25,788987.0504,1.39
4,2008-05-01,545.4,27.241935,20.9,35.0,140.6,25,813659.7222,1.44